node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Tauri
src-tauri/target/
src-tauri/gen/

# Signing key (private)
build-aux/signing-key.asc

# Flatpak
flatpak-repo/
build-aux/flatpak/build-dir/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
